---
title: Nithin's Blog - Javascript
layout: 'base.njk'
eleventyExcludeFromCollections: true
--- 
<!-- Page title -->
<div class="page-title pt-5 pb-5 mb-4">
  <div class="container">
    <h2> Javascript </h2>
    <ul class="nav">
      <li><a href="/blog/all">Blog</a></li>
      <li>Javascript</li>
    </ul>
  </div>
</div>

<!-- Blog list -->
<div class="container pt-4">
  {%- for post in collections.javascript | reverse -%}
    {% include 'article-snippet.njk' %}
  {%- endfor %}
</div>
