---
title: Nithin's Blog - Home
layout: 'base.njk'
---

<!-- Banner -->
<div class="banner-slider-cover d-flex align-items-center">
  <div class="container">
  <div class="banner-slider owl-carousel">
    <!-- Banner Slide -->
    {%- for post in collections.featured | reverse -%}
      {% include 'banner-slide.njk' %}
    {%- endfor %}
    <!-- End of Banner Slide -->
  </div>
  <!-- Banner Dots Slider -->
  <div class="banner-slider-dots owl-carousel"></div>
  </div>
  <!-- End of Banner Dots Slider -->
</div>
<!-- End of Banner -->

<!-- post with sidebar -->
<div class="container pt-40 pb-90">
  <div class="row">
  <div class="col-lg-8">
    <!-- Recent Post -->
    <section class="popular-post pb-10">
    <!-- Section title -->
    <div class="section-title">
      <h2>Recent Posts</h2>
    </div>
    <!-- End of Section title -->

    <div class="post-blog-list">
      <!-- Post -->
      {%- for post in collections.featured | reverse -%}
        {% include 'recent-posts.njk' %}
      {%- endfor %}
      <!-- End of Post -->
    </div>
    </section>
  </div>
  <div class="col-lg-4">
    <div class="pt-88">
    <div class="my-sidebar">
      <!-- Author Widget -->
      <div class="widget widget-about">
      <!-- Widget Content -->
      <div class="widget-content">
        <!-- Author Image -->
        <div class="author-image">
        <img src="/assets/images/dp.png" alt="Author-Image" class="img-fluid">
        </div>
        <!-- Author Name -->
        <div class="author-name text-center">
        <a href="https://nithinravi.com/" target="_blank"> Nithin Ravi </a>
        </div>
        <!-- Author Social Links -->
        <div class="author-social text-center">
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/nithin-developer" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/nithin-hunt" target="_blank"><i class="fa fa-git-square"></i></a>
        </div>
        <!-- Author Text -->
        <div class="author-text text-center">
        I use this space to document my adventures in full-stack development, sharing how I’ve overcome issues I’ve run into, useful resources, and more.
        </div>
      </div>
      <!-- End of Widget Content -->
      </div>
      <!-- End of Author Widget -->

      <!-- Tags Cloud Widget -->
      <div class="widget widget-tag-cloud">
      <!-- Widget Title -->
      <h4 class="widget-title">
        Tags
      </h4>
      <!-- End of Widget Title -->

      <!-- Widget Content -->
      <div class="widget-content tagcloud">
        <a href="/blog/html">HTML</a>
        <a href="/blog/css">CSS</a>
        <a href="/blog/javascript">Javascript</a>
        <a href="/blog/rails">Rails</a>
      </div>
      <!-- End of Widget Content -->
      </div>
      <!-- End of Tags Cloud Widget -->

      <!-- Featured Post Widget -->
      <div class="widget widget-recent-post">
        <!-- Widget Title -->
        <h4 class="widget-title">
          Featured Post
        </h4>
        <!-- End of Widget Title -->

        <!-- Widget Content -->
        <div class="widget-content">
          <!-- Single Post -->
          {%- for post in collections.featured | reverse -%}
            {% include 'featured-posts.njk' %}
          {%- endfor %}
        </div>
        <!-- End of Widget Content -->
      </div>
      <!-- End of Recent Post Widget -->
    </div>
    </div>

  </div>
  </div>
</div>
